@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-4">
        <b><i class="fa fa-cogs mr-1"></i>CARACTERÍSTICAS GERAIS</b>
        <ul class="mt-2">
            <li><b class="text-primary">Versão .Net:</b> 6</li>
            <li class="mt-1"><b class="text-primary">Padrão MVC:</b> 6</li>
            <li class="mt-1">
                <b class="text-primary">Banco de dados:</b> PostgreSQL 9.6
                <ul>
                    <li class="mt-1">
                        <b class="text-success ">Script Db:</b> wwwroot/doc/Script.sql
                    </li>
                </ul>
            </li>
            <li class="mt-1">
                <b class="text-primary">ORM:</b> EntityFrameworkCore / Dapper
            </li>
            <li class="mt-1">
                <b class="text-primary">URL Api atual:</b> @Desafio.App.Api.Config.UrlApi
            </li>
            <li class="mt-1">
                <b class="text-primary">Autor:</b> Paulo Adriano Alves
            </li>
            <li class="mt-1">
                <b class="text-primary">Acessar clientes:</b> <a asp-controller="Cliente" asp-action="Index">Clique aqui</a>.
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <b><i class="fa fa-desktop mr-1"></i>Front-end </b>
        <ul class="mt-2">
            <li><b class="text-primary">Projeto:</b> ASP.NET CORE WEB APP</li>
            <li class="mt-1"><b class="text-primary">Banco de dados:</b> Não realiza conexão direta</li>
            <li class="mt-1">
                <b class="text-primary">Características gerais:</b>
                <ul>
                    <li class="mt-1">
                        <label class="text-bold text-success">
                            Bibliotecas javascript.
                        </label>
                        <ul>
                            <li class="mt-1">JQuery</li>
                            <li class="mt-1">JQuery Datatable</li>
                            <li class="mt-1">JQuery Responsive</li>
                            <li class="mt-1">JQuery Select</li>
                            <li class="mt-1">SweetAlert2</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mt-1">
                <b class="text-primary">Observações:</b>
                <ul>
                    <li class="mt-1">
                        <b class="text-success">Table: </b>Toda a paginação de dados e feita de forma dinamica,
                        carregando apenas as informações que serão exibidas.
                    </li>
                    <li class="mt-1">
                        <b class="text-success">Responsividade: </b>Todo o frontend está responsivo.
                    </li>
                    <li class="mt-1">
                        <b class="text-success">Validação: </b>Os dados são validados no frontend e backend.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <b><i class="fa fa-server mr-1"></i>Web Api</b>
        <ul class="mt-2">
            <li>
                <b class="text-primary">Projeto:</b> ASP.NET CORE WEB API
            </li>
            <li>
                <b class="text-primary">Nome da Controlle:</b> Cliente
            </li>
            <li>
                <b class="text-primary">Rota: </b> clientes
            </li>
            <li>
                <b class="text-primary">Endpoint´s:</b>
                <ul>
                    <li class="mt-4">
                        <label class="text-bold text-success">Post:</label>
                        <label class="text-inverse ml-1">
                            Cadastrar novo cliente.
                        </label>
                        <ul>
                            <li><b>Entrada:</b> Desafio.Domain.Cliente</li>
                        </ul>
                    </li>
                    <li class="mt-4">
                        <label class="text-bold text-warning">Put:</label>
                        <label class="text-inverse ml-1">Alterar cliente existente.</label>
                        <ul>
                            <li><b>Entrada:</b> Desafio.Domain.Cliente</li>
                        </ul>
                    </li>
                    <li class="mt-4">
                        <label class="text-bold text-danger">Delete:</label>
                        <label class="text-inverse ml-1">Excluir cliente existente.</label>
                        <ul>
                            <li><b>Entrada:</b> Codigo (int)</li>
                            <li><b>Obs.:</b> Tipo: Int</li>
                        </ul>
                    </li>
                    <li class="mt-4">
                        <label class="text-bold text-primary">Get: </label>
                        <label class="text-inverse ml-1">Retorna ficha de cadastro do cliente.</label>
                        <ul>
                            <li><b>Entrada:</b> Codigo (int)</li>
                            <li><b>Saída:</b> Desafio.Domain.Cliente</li>
                        </ul>
                    </li>
                    <li class="mt-4">
                        <label class="text-bold text-primary">Get: </label>
                        <label class="text-inverse ml-1">Lista de clientes paginada com filtragem.</label>
                        <ul>
                            <li><b>Entradas:</b> nPaginas (int), tPagina (int), oColuna (string), ordem (string), filtro (string)</li>
                            <li><b>Saída:</b> Desafio.app.Models.ClienteListar</li>
                        </ul>
                    </li>
                    <li class="mt-4">
                        <label class="text-bold text-primary">Get: </label>
                        <label class="text-inverse ml-1">Lista de clientes paginada sem filtragem.</label>
                        <ul>
                            <li><b>Entradas:</b> nPaginas (int), tPagina (int), oColuna (string), ordem (string)</li>
                            <li><b>Saída:</b> Desafio.app.Models.ClienteListar</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>